// Base colors
$primary: #536f50;
$secondary: #86a5a9;
$info: #1680c2;
$danger: #ec444a;
$warning: #e0ca0a;
$success: #92c582;
$light: #f7fafc;
$dark: #4a5568;

$enable-rounded: true;
$enable-caret: false;
$font-family-base: Hylia;

// Additional colors
$tertiary: #42699E;

$font-size-base: 0.9rem;
$small-font-size: 0.75em;
$badge-font-size: 0.8em;

.v-center {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
}

.loading-animation {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $primary;
  color: $primary;
  animation: loadingAnimation 1s infinite linear alternate;
  animation-delay: .5s;
}

.loading-animation::before, .loading-animation::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.loading-animation::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $primary;
  color: $primary;
  animation: loadingAnimation 1s infinite alternate;
  animation-delay: 0s;
}

.loading-animation::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $primary;
  color: $primary;
  animation: loadingAnimation 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes loadingAnimation {
  0% {
    background-color: $primary;
  }
  50%,
  100% {
    background-color: $success;
  }
}

@import "../../../twbs/bootstrap-5.0.0-beta2/scss/bootstrap";
